<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="conn" connectionString="Data Source=192.168.1.97,1433; User ID = sa; password = sinag_13" providerName="System.Data.SqlClient" />
    <add name="SinagSystem.Properties.Settings.sinagsystemConnectionString" connectionString="Data Source=&quot;192.168.1.97, 1433&quot;;Initial Catalog=pos_db;Persist Security Info=True;User ID=sa;Password=sinag_13" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2460.0.45" newVersion="18.2460.0.45" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>